{% extends 'base.html.twig' %}

{% block body %}

    <main>


        <p>
            <a href="{{ path('add_petfood') }}">Ajouter un produit</a><br>
            <a href="{{ path('show_all') }}">Voir tout</a>
        </p>


    </main>

{% endblock body %}




